.error-section{
  display: flex;
  flex-direction: column; 
  text-align: center;
  align-items: center;
  margin: 10rem auto;
  text-transform: uppercase;
  letter-spacing: 0.3rem;  
  font-size: 2rem;
}

.error-link{  
  color:#800000;  
}


