.sck-div {
  border: 2px solid #e0e0e0;
  width: 50vw;
  padding: 2rem;
  justify-content: center;
  margin: 2rem auto;
  text-transform: uppercase;
  line-height: 2rem;
}

.sck-div h2{
  text-align: center;
}
.sck-div img{
  width: 100%;
}